.allocation-content-container {
    width: 100%;
    height: 100%;
    /* padding-top: 2rem; */
}

.container-content {
    height: 100%;
    /* padding-top: 1rem; */
}

.row-container-content {
    height: 100%;
}
.container-column {
    height: 100%;
}

.allocation-header-element {
    text-align: center;
    height: 10%;
    padding-top: 1rem;
}

.allocation-span {
    font-size: large;
}

.left-container-content {
    height: 100%;
    /* background: aliceblue; */
}

.allocate-image-container {
    border: 1.3px solid #bfbfbf;
    border-radius: 0.2rem;
    height: 90%;
    margin: 0rem auto;
    width: 90%;
    position: relative;
}
.course-allocate-image-container p, .classes-allocate-image-container p, .teachers-allocate-image-container p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8rem auto;
    font-size: x-large;
}


.allocate-image-container > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.allocate-image-container .course-allocate-image-container {
    background: url('../_shared/assets/papers.png') no-repeat center;
    opacity: 0.2;
}

.allocate-image-container .teachers-allocate-image-container {
    background: url('../_shared/assets/teacher.png') no-repeat center; 
    opacity: 0.2;
}

.allocate-image-container .classes-allocate-image-container {
    background: url('../_shared/assets/presentation.png') no-repeat center; 
    opacity: 0.2;
}

.allocate-image-container .course-content {
    /* flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center; */
}

.selector-container {
    height: 20%;
    margin: 1rem auto;
    width: 80%;
    /* border: 1px solid rgba(34,36,38,.15); */
}

.select-style {
    width: 17rem;
    height: 2.5rem;
    color: rgba(0,0,0,.25)
}

.selector-container .form-item-container,
.selector-container .form-item-container > .ant-form-item-control-wrapper{
    width: 100%;
}

.display-container {
    margin: 1rem auto;
    width: 80%;
    /* border: 1px solid rgba(34,36,38,.15); */
    height: 56%;
}
/* .teachers-allocate-image-container {
    margin: 1rem auto;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    opacity: 0.2;
    background: url('../_shared/assets/teacher.png') no-repeat center; 
}

.classes-allocate-image-container {
    margin: 1rem auto;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    opacity: 0.2;
    background: url('../_shared/assets/presentation.png') no-repeat center; 
}

.container-allocate-image-container {
    margin: 4rem auto;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    opacity: 0.2;
    background: url('../_shared/assets/office-material.png') no-repeat center; 
} */

.divider {
    /* border-left: 1px solid rgba(0,0,0,.43);
    height: 98%; */
    /* text-align: center; */
    /* position: absolute; */
    /* height: 100%; */
}

.table-container-column {
    border-left: 1px solid gray;
    height: 95%;
}

.table-content {
    margin: 1rem;
}

.allocate-content-separater {
    border-left: 1px solid rgba(0,0,0,.25);
    height: 80vh;
    position: absolute;
    right: 100%;
    margin: 1rem 0rem;
}

.allocate-button{
    margin: 0rem auto;
    width: 50%;
    /* text-align: center; */
    background-color: #22B99B;
    border-color: #22B99B;
    height: 2.2rem;
    border: 1px solid #22B99B;
    /* background-color: #545e73; */
    color: white;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.allocate-button-form {
    width: 100%;
    text-align: center;
}

.allocate-list-table thead th {
    border-radius: 0;
    background-color: #22B99B;
    color: #FFFFFF;
    font-family: 'Roboto-Medium', 'Roboto Medium', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding: 1rem 0.45rem;
    text-align: center;
}    

.allocate-container-table {
    width: 100%;
    height: 100%;
}

.allocate-button .ant-btn-primary:focus, .allocate-button .ant-btn-primary:hover {
    color: #fff;
    background-color: #7aca8d;
    border-color: #7aca8d;
}